<!-- 实际上罗栋的检测靠python节点yolov5TRT完成，c++节点只是发布检测话题消息 -->
<launch>
    <node pkg="yolov5_trt" type="rstest.py" name="detect_human" output="screen">
    </node>
    <!-- <node pkg="yolov5_trt" type="detect_human_realsense.py" name="detect_human_realsense" output="screen">
    </node> -->
    <node pkg="yolov5_trt" type="human_info_pub" name="human_info_pub" output="screen">
    </node> 
</launch>
